<div class="mb-3">
  <h1>Buscar Países</h1>
  <label for="pais" class="form-label">País*:</label>
    <input type="text" class="form-control" id="countryName" (blur)="validInput()"
      placeholder="Ingrese un país" min="1" [(ngModel)]="countryName" name="countryName">
    <br>
   <button class="btn btn-primary" (click)="getCountrys()" [disabled]="isValidInput">
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span *ngIf="isLoading">Cargando...</span>
    <span *ngIf="!isLoading">Buscar</span>
   </button>
</div>

<div class="card border-primary mb-3" *ngIf="Paises !== null">
  <div class="card-header">Países</div>
  <div class="card-body text-primary">
   Resultados encontrados: {{Paises == null ? 0 : Paises.length}}

    <table class="table table-bordered table-striped" >
      <thead class="table-Secondary">
        <th scope="col">Nombre Oficial</th>
        <th scope="col">Región</th>
        <th scope="col">Sub Región</th>
        <th scope="col">Idioma</th>
        <th scope="col">Moneda</th>
        <th scope="col">Escudo de Armas</th>
      </thead>
      <tbody>
        <tr *ngFor="let pais of Paises" class="table-Secondary">
          <td >{{pais.nombre}}</td>
          <td>{{pais.region}}</td>
          <td>{{pais.subregion}}</td>
          <td>{{pais.languages}}</td>
          <td>{{pais.currencies}}</td>
          <td>
            <div class="imagen" *ngIf="pais.coatOfArms !== null">
              <img src="{{pais.coatOfArms}}" alt="" class="imagen">
            </div>
            <label *ngIf="pais.coatOfArms == null">--</label>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="footer-space"></div>
